#1)Make the necessary imports

In [ ]:
import numpy as np 
import pandas as pd 
import os
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
import matplotlib.pyplot as plt
from tensorflow import keras
from keras.layers import Dense
from keras.models import Sequential

from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

import math
import warnings
import random

#2)Create the Data

In [ ]:
data = [[random.randint(0,100) for i in range(6)] for i in range(50)]
df = pd.DataFrame(data)

In [ ]:
labels_data = [(random.randint(0,10)) for i in range(50)]
labels = pd.DataFrame(labels_data)

In [ ]:
df.head()

    0   1   2   3   4   5
0  52   5  64  37  45  65
1  77   6  52  89  30  49
2  16  94  40  85  61  43
3  74  35  32  64  57  76
4  26  25  82  36  39  39

In [ ]:
df.shape

(50, 6)

In [ ]:
labels.head()

   0
0  9
1  6
2  9
3  8
4  0

#3)Explore the Data

In [ ]:
a = pd.Series([random.randint(1,100) for i in range(6)])
b = pd.Series([random.randint(1,100) for i in range(6)]

plt.scatter(a,b)
plt.plot()

SyntaxError: ignored

In [ ]:
plt.scatter(df[3],df[2])

In [ ]:
labels.shape

In [ ]:
X = np.array(df)

In [ ]:
y = np.array(labels)
y.shape

#4)Preprocess the Data

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

model_pipe = Pipeline(steps=[('imputer',SimpleImputer(strategy='mean')),
                            ('scaler',StandardScaler()),
                            ('classifier',SVC())])

In [ ]:
plt.stem(df[3],df[5])

In [ ]:
threshold = [(1,3),(2,3),(3,3),(2,2),(2,1)]
fig = plt.figure()
ax=fig.add_axes([0,0,1,1])
ax.scatter([i[0] for i in threshold],[i[1] for i in threshold],color='#00cfb7')
plt.show()

In [ ]:
from sklearn.impute import SimpleImputer
mean_imputer = SimpleImputer(missing_values=np.nan,strategy = "mean")
mean_imputer.fit(X)
imputed_array = mean_imputer.transform(X)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(imputed_array)
scaled_array = scaler.transform(imputed_array)

In [ ]:
plt.step(df[4],df[2])

In [ ]:
al = [(1, 1), (2, 2), (3, 3), (4, 4), (5, 3), (6, 2), (7, 1), (4, 2)]
fig = plt.figure()
ax=fig.add_axes([0,0,1,1])
ax.scatter([i[0] for i in al],[i[1] for i in al],color='#e5537f')
plt.show()

In [ ]:
scaled_array

In [ ]:
y.shape

In [ ]:
unsupervised = [(1,3),(1,2),(1,1),(2,1),(3,1),(3,2),(3,3)]
fig = plt.figure()
ax=fig.add_axes([0,0,1,1])
ax.scatter([i[0] for i in unsupervised],[i[1] for i in unsupervised],color='#b61c4a')
plt.show()

#5)Create the training and test data sets

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test  train_test_split(scaled_array,y,test_size=0.2)

In [ ]:
plt.hist(df[4])

In [ ]:
multiplexer = [(1,3),(1,2),(1,1),(1.5,2.5),(2.5,2.5),(2,2),(3,1),(3,2),(3,3)]
fig = plt.figure()
ax=fig.add_axes([0,0,1,1])
ax.scatter([i[0] for i in multiplexer],[i[1] for i in multiplexer],color='#550065')
plt.show()

#6)Fit the ensemble to the Data

In [ ]:
from sklearn.ensemble import VotingClassifier

no_svcs = 

voting_clf = VotingClassifier(estimators=[('svc'+str(i),SVC(probability=True,C=3)) for i in range(no_svcs)],
                              voting='hard')
voting_clf.fit(X_train,y_train)

In [ ]:
logistic = [(1,1),(1,2),(1,3),(2,1),(3,1)]
fig = plt.figure()
ax=fig.add_axes([0,0,1,1])
ax.scatter([i[0] for i in logistic],[i[1] for i in logistic],color='#8a1538')
plt.show()

In [ ]:
n = 100
rng = np.random.default_rng()
xs = rng.uniform(23, 32, n)
ys = rng.uniform(0, 100, n)
zs = rng.uniform(-50, -25, n)

# Plot
fig, ax = plt.subplots(subplot_kw={"projection": "3d"})
ax.scatter(xs, ys, zs)

ax.set(xticklabels=[],
       yticklabels=[],
       zticklabels=[])

plt.show()

#7)Find the accuracy of the model

In [ ]:
y_pred = voting_clf.predict(X_test)

from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, f1_score, roc_curve, roc_auc_score

confusion_matrix(y_test,y_pred)
print(accuracy_score(y_test,y_pred))

In [ ]:
huber = [(1,3),(1,2),(1,1),(1.5,2),(2,2),(2.5,2),(3,1),(3,2),(3,3)]
fig = plt.figure()
ax=fig.add_axes([0,0,1,1])
ax.scatter([i[0] for i in huber],[i[1] for i in huber],color='#f2acc1')
plt.show()

In [ ]:
from mpl_toolkits.mplot3d import axes3d
X, Y, Z = axes3d.get_test_data(0.05)
fig, ax = plt.subplots(subplot_kw={"projection": "3d"})
ax.plot_wireframe(X, Y, Z, rstride=10, cstride=10)

ax.set(xticklabels=[],
       yticklabels=[],
       zticklabels=[])

plt.show()